services:
  - type: web
    name: bims-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI_ATLAS
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CHAPA_SECRET_KEY
        sync: false
      - key: CHAPA_WEBHOOK_SECRET
        sync: false
      - key: BACKEND_URL
        sync: false
      - key: FRONTEND_URL
        sync: false
